[submodule "taiga-back"]
	path = taiga-back
	url = https://github.com/taigaio/taiga-back.git
	branch = 4.2.5
[submodule "taiga-front-dist"]
	path = taiga-front-dist
	url = https://github.com/taigaio/taiga-front-dist.git
	branch = 3.4.2-stable
[submodule "taiga-front"]
	path = taiga-front
	url = ssh://git@github.com/taigaio/taiga-front
